[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "5.15.6"
tk = "0.1.0"
cryptography = "36.0.2"

[dev-packages]
pyqt5-tools = "5.15.2.1.2"
pyinstaller = "4.10"
pytest = "*"
flake8 = "*"
pytest-qt = "*"
pytest-mock = "*"
pytest-cov = "*"
coverage-badge = "*"

[requires]
python_version = "3.7"
